.image-container {
  border: 15px solid #ffffff00;
  display: inline-block;
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
  color: white;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	text-align: center;
}

.searchResultImg {
  width: 250px;
  height: 250px;
}

.albumImgAndRating {
  float: left;
}

.albumImg {
  width: 500px;
  height: 500px;
}

.albumInformation, .tracksInformation, .artistsInformation, genresInformation {
  padding-left: 20px;
  float: left;
}

.strongText {
  font-size: 25px;
}

.smallText {
  font-size: 12px;
}

.textCenter {
  text-align: center;
}

.addNewLink {
  float: right;
}

.feedbackMessage {
  text-align: center;
  border: 10;
}

input[type="number"] {
  width: 40px;
}

input[type="text"] {
  width: 300px;
}

input[type="url"] {
  width: 300px;
} 

th, tfoot {
  background: rgb(245, 245, 248)
}

.staticIcon {
  position: absolute;
  background: white;
  opacity:1;
  width: 30px;
}

.staticIcon:hover {
  opacity:0;
  width: 30px;
}

.activeIcon {
  position: absolute;
  background: white;
  opacity:0;
  width: 30px;
}

.activeIcon:hover {
  opacity:1;
  width: 30px;
}

.editStaticIcon {
  right: 0;
  position: absolute;
  background: white;
  opacity:1;
  width: 30px;
  padding-right: 10px;
}

.editStaticIcon:hover {
  right: 0;
  opacity:0;
  width: 30px;
  padding-right: 10px;
}

.editActiveIcon {
  right: 0;
  position: absolute;
  background: white;
  opacity:0;
  width: 30px;
  padding-right: 10px;
}

.editActiveIcon:hover {
  right: 0;
  opacity:1;
  width: 30px;
  padding-right: 10px;
}

.staticIconSmall {
  position: absolute;
  background: white;
  opacity:1;
  width: 20px;
}

.staticIcon:hover {
  position: relative;
  opacity:0;
  width: 20px;
}

.activeIconSmall {
  position: relative;
  background: white;
  opacity:0;
  width: 20px;
}

.activeIconSmall:hover {
  position: relative;
  opacity:1;
  width: 20px;
}

.addNewStaticIcon {
  right: 0;
  position: absolute;
  background: white;
  opacity:1;
  width: 40px;
  padding-right: 10px;
}

.addNewStaticIcon:hover {
  right: 0;
  opacity:0;
  width: 40px;
  padding-right: 10px;
}

.addNewActiveIcon {
  right: 0;
  position: absolute;
  background: white;
  opacity:0;
  width: 40px;
  padding-right: 10px;
}

.addNewActiveIcon:hover {
  right: 0;
  opacity:1;
  width: 40px;
  padding-right: 10px;
}

body {
  font-family: "Verdana";
}

.heavyText {
  font-weight: bold;
}

.hide {
  display: none;
}

a:link, a:visited, a:hover, a:active {
  color: rgb(36, 71, 148);
  text-decoration: none;
}

.selectList {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 550px;
  line-height: 10px;
  display: flex;
}

.selectListInput {
  width: 100vh;
}

.marginRight {
  margin-right: 10px;
}